<div id="feed-reader"></div>

<script>
	const feedURL = "https://tech.lgbt/@retchohrips.rss";

	fetch(feedURL)
		.then((response) => response.text())
		.then((str) => new window.DOMParser().parseFromString(str, "text/xml"))
		.then((data) => {
			const entries = data.querySelectorAll("item");
			let html = `
      <h3 class="mb-2 text-l">Last 3 Posts from <a class="cactus-link" href="https://tech.lgbt/@retchohrips">@retchohrips@tech.lgbt</a></h3>
      <div class="border border-dashed border-accent p-2 rounded">
        `;

			for (let i = 0; i < 3; i++) {
				const entry = entries[i];
				if (entry === null || typeof entry === "undefined") {
					continue;
				}

				const descriptionElement = entry?.querySelector("description");
				const dateElement = entry?.querySelector("pubDate");

				if (descriptionElement && dateElement) {
					const content = descriptionElement.textContent?.trim().replace(/<\/?p>/gm, "");
					const milliseconds = Date.parse(dateElement.innerHTML);
					const date = new Date(milliseconds);
					const formattedDate = date.toLocaleDateString("en-US", {
						month: "short",
						day: "numeric",
						year: "numeric",
					});
					const formattedTime = date.toLocaleTimeString("en-US", {
						hour: "numeric",
						minute: "numeric",
						hour12: true,
					});
					const formattedDateTime = `${formattedDate} ${formattedTime} EST`;
					html += `
          <div class="mb-5 last:mb-0 border p-1 rounded shadow-md bg-gray-500/10">
          <p class="text-gray-500">${formattedDateTime}</p>
          <p>${content}</p>
          </div>
        `;
				}
			}
			html += `</div>`;
			// html += `<p><a class="cactus-link" href='https://tech.lgbt/@retchohrips'>See more at tech.lgbt</a></p>`;
			const feedReader = document.getElementById("feed-reader");
			if (feedReader) {
				feedReader.innerHTML = html;
			}
		});
</script>
